@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.navbar a {
    font-weight: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    height: 100vh;
    background: url(Sameer_BG.png) no-repeat ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 500;
    line-height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.home-sci a:hover{
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;

}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 5px;
    width: 700px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover {
    background: #081b29;
    opacity: .8;
}

.home-imgHover::after{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 2;
}

/*keyframes Animations*/
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100%{
        pointer-events: auto;
    }
}


/*About page......................................................................................................................................................................................................*/

.About {
    height: 100vh;
    background: url(Sameer_BG.png) no-repeat ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.About-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.About-content h1::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.About-content p::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
}


/*Skills Page.............................................................*/


.Skills {
    height: 100vh;
    background: url(Sameer_BG.png) no-repeat ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}


.Skills-content{
    max-width: 600px;
}


.Skills-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.Skills-content h1::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.Skills-content p::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
}

/*Experience page.................................................................*/

.Experience {
    height: 100vh;
    background: url(Sameer_BG.png) no-repeat ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.Experience-content{
    max-width: 600px;
}


.Experience-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.Experience-content h1::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.Experience-content p::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
}

/*Contact Page..............................................................................................................................................................................*/

.Contact {
    height: 100vh;
    background: url(Sameer_BG.png) no-repeat ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.Contact-content{
    max-width: 600px;
}


.Contact-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.Contact-content h1::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.Contact-content p::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
}

.btn.btn2{
    display: inline-block;
    background: #00abf0;
}

.btn.btn2{
    position-area: left;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00abf0;
    padding: 14px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.copyright{
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 170px;
    display: flex;
}

.copyright::before{
    position: absolute;
    bottom: 0%;
    right: 20%;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(8, 56, 88);
    animation-delay: 1s;
    z-index: 2;
}

.copyright a {
    position: relative;
    display: inline-block;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #ededee;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}


/*--------------------------------------------------------raw----------------------------*/

